{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Django Girls blog</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    </head>
    <body>

        <section class="hero is-small-with-navbar is-info">
           <div class="hero-body">
               <h1 class="title">
                   Django Girls Blog
               </h1>
               <p class="subtitle">
                   Mi blog con diseño en <strong>BULMA</strong>
               </p>
           </div>
        </section>

        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>        
    </body>
</html>